.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.fpItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.fpImag{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.fpName{
    font-weight: bold;
}

.fpCity{
    font-size: 500;
}

.fpRating>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fpratin>span{
    font-size: 14px
}