.user-row{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    padding: 30px;
}

.qr-div{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    border: 2px solid #f5f5f5;
    width: 70%;
    border-radius: 7px;
    padding: 20px;
    align-items: center;

    h3{
        margin: 0;
    }

    p{
        margin: 0;
        margin-bottom: 20px;
    }
}

#qr-code {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}